body {
  margin: 0;
  height: 100%;
  background-color: #9c8395;
}

p {
  margin: 0;
}

.container {
  display: inline-block;
  cursor: pointer;
}


.main-content {
  display: flex;
  margin-top: 60px;
  overflow: hidden;
  flex-direction: column;
  justify-items: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #9c8395;
  margin-top: 70px;
  margin-bottom: 60px;
  overflow: hidden;
  
}

.content {
  margin-bottom: 110px;
  width: 1300px;
  position: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  width: 80%;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.typing {
  margin: 60px;
}

.typing p {
  font-size: 22px;
}

.row {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 60px;
  color: #3c2a4d;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px;
  margin-left: 30px;
  align-content: flex-start;
}

h2 {
  font-size: 40px;
  color: #3c2a4d;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 0px;
  margin-top: -10px;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  color: #562349;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 0px;
  margin-top: -10px;
  margin-bottom: 15px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  font-weight: 300;
}

a {
  font-family: 'Josefin Sans', sans-serif;
}

.header-link {
  margin: auto 15px;
  margin-top:20px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


#query {
  height: 40px;
  width: 350px;
  font-size: 16px;
}

#searchBtn {
  background-color: white;
  color: grey;
  font-size: 14px;
  height: 40px;
  width: 60px;
  border: 1px solid #562349;
}

.app {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  color: white;
  background-color: #562349;
  margin: 0;
  height: 60px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 60px;
}

.moonpic {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.logoTitle {
  margin-top: 5px;
  font-size: 70px;
    color: white;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#nav-bar a {
  color: white;
}

.search-bar {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  height: 100%;
  position: flex;
  flex-direction: row;
}

.eighty {
  margin: auto;
  width: 1300px;
}

header {
  position: fixed;
  padding: 0;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 3;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #562349;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin-right: 15px;
}

.writing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 32px;
  resize: none;
  width: 100%;
  border:none;
  outline: none;
  height: 300px;
}

.card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.card-img {
  height: 300px;
  width: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.indvCards {
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.indvCards p {
  margin-top: 10px;
}

.cardLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
  text-decoration: underline;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.back p{
  margin-top: -10px;
  font-size: 24px;
  padding: 10px;
  color: white;
}

.front p{
  margin-top: -10px;
  font-size: 18px;
  padding: 10px;
  color: white;
}


.back{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  height: 100%;
  justify-content: center;
  background: #562349;
  border-radius: 10px;
}

.front {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  height: 100%;
  justify-content: center;
  text-align: center;
  background: #562349;
  border-radius: 10px;
}

.uprev {
  font-weight: 400;
  margin-bottom: -8px;
}

.select {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  width: 540px;
  justify-content: space-evenly;
}

.studyGame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.studyCardImg {
  height: 600px;
  width: auto;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  min-height: 50px;
}

.tagId p {
  font-size: 22px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 400;
  margin-right: 10px;
}

.tag {
  background: #562349;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 8px;
}

.tag p {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.dreamButton {
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 7px rgb(175, 174, 174);
}

.dreamButton p {
  font-size: 30px;
  margin: 7px;
}

.dreamButton:active {

  box-shadow: 0 4px rgb(175, 174, 174);
  transform: translateY(3px);
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.clickable {
  cursor: pointer;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}